header,
main,
footer,
section {
    border: 2px solid black;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 40px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

section {
    width: 960px;
    margin: 20px auto;
}

.content {
    margin-bottom: 60px;
}

.heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    color: #4aaaa5;
    font-weight: bold;
    padding: 14px;
}

.nav-heading {
    background: #4aaaa5;
    color: white;
}

nav {
    padding: 14px;
}

li a {
    color: inherit;
    text-decoration: none;
    margin: 0px 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

footer {
    text-align: center;
    padding: 14px;
}

ul li {
    display: inline;
}

#bio {
    padding: 0px 14px 14px 14px;
}

img {
    margin: 13px 20px 0px 0px;
}