header {
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 40px;
	background-image: url('../images/y-so-serious-white.png');
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

section {
	margin: 0px auto;
	width: 960px;
	background-color: #ffffff;
}

.content {
	border: 2px solid #dddddd;
}

.heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: #4aaaa5;
	padding: 0px 14px 14px 0px;
	margin-bottom: 15px;
	font-weight: bold;
	border-bottom: 2px solid #dddddd;
}

.nav-heading {
	background: #4aaaa5;
	color: white;
	border: none;
	padding: 14px;
	margin-bottom: 0px;
}

nav {
	padding: 14px;
}

li a {
	color: inherit;
	text-decoration: none;
	margin: 0px 5px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 14px;
	background-color: #666666;
	color: white;
}

ul li {
	display: inline;
}

.container {
	margin: 15px;
}

img {
	margin: 13px 20px 0px 0px;
}

main {
	padding: 40px 0px 80px 0px;
}
